@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color:  #F5EE9E;
    --secondary-color: #0F0F0B;
    --Tertiary-color: #F49E4C;
    --Quaternary-color: #3B8EA5;
    --Quinary-color: #2D728F;
    --Sextanary-color: #AB3428;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--primary-color);
    font: bold 2rem "Open Sans", sans-serif;
}

.todo{
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 15px;
}

.todo_title{
    display: flex;
    background-color: var(--secondary-color);
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-shadow: 1px 1px 5px var(--secondary-color);
    font-size: 3rem;
    color: var(--Quinary-color);
}

.todo_list{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}
.todo_item{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 1px 1px 5px var(--secondary-color);
}

.todo_item > div{
    width: 80px;
}

.todo_item:hover{
    cursor: pointer;
    transition: all .5s ease;
    background-color: var(--Quaternary-color);
    color: var(--secondary-color);
}

.todo_item > input[type='text']{
    border: none;
    width: 80%;
    font: inherit;
}

.todo__item > input[type='button'],
.todo__item > input[type='checkbox'] {
    width: 30px;
    height: 30px;
    font: inherit;
}

.todo__item > input[type='checkbox']:checked  + div {
    text-decoration:line-through;
}